<app-navbar />

<nb-layout>
	<nb-layout-column>
		<div class="welcome-page">
			<header>
				<h1> Hello, {{userName}} </h1>
				<h1> Welcome to the Energy Management System </h1>
			</header>

			<section>
				<h2> About Our System </h2>
				<p>
					Welcome to the Energy Management System (EMS), your solution for monitoring and managing your energy
					consumption. Our system provides you with the tools to track your devices and their energy usage.
				</p>
			</section>

			<section>
				<h2> Features </h2>
				<ul>
					<li> View Energy Consumption by Device </li>
					<li> Track Devices and Their Usage </li>
				</ul>
			</section>

			<section>
				<h2> Getting Started </h2>
				<p>
					To get started, log in to your account to view and manage your devices. You can track their energy
					consumption and make informed decisions about energy usage.
				</p>
			</section>

			<footer>
				<p> &copy; 2023 Energy Management System </p>
			</footer>
		</div>
	</nb-layout-column>
</nb-layout>
