<app-navbar />

<mat-card>
	<mat-card-content>
		<div class="header">
			<h2> Create a New Device </h2>
		</div>
		<form (ngSubmit)="onCreate()" name="deviceForm" [formGroup]="deviceForm">
			<div class="data-input">
				<mat-form-field class="full-width" appearance="outline">
					<mat-label> Description </mat-label>
					<input formControlName="description" matInput placeholder="Device description" required />
					<mat-error *ngIf="!deviceForm.controls['description'].valid">
						Please Enter a Device Description
					</mat-error>
				</mat-form-field>
			</div>
			<div class="data-input">
				<mat-form-field class="full-width" appearance="outline">
					<mat-label> Address </mat-label>
					<input formControlName="address" matInput placeholder="Enter an address" required />
					<mat-error *ngIf="!deviceForm.controls['address'].valid">
						Address not valid
					</mat-error>
				</mat-form-field>
			</div>
			<div class="data-input">
				<mat-form-field class="full-width" appearance="outline">
					<mat-label> Maximum Hourly Energy Consumption </mat-label>
					<input formControlName="consumption" matInput placeholder="Max value" required />
					<mat-error *ngIf="!deviceForm.controls['consumption'].valid">
						Please enter a valid value
					</mat-error>
				</mat-form-field>
			</div>
			<div class="data-input">
				<mat-form-field class="full-width" appearance="outline">
					<mat-label> User ID </mat-label>
					<mat-select [(value)]="selectedID">
						<mat-option *ngFor="let id of ids" [value]="id.id">
							{{id.id}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<button class="mat-button" mat-flat-button color="primary"> Create Device </button>
		</form>
	</mat-card-content>
</mat-card>
